#a1,#a2,#a3,#a4{
    /* background-position: center;
    background-size: cover;
    background-image: url(./image/background.png); */
    background:linear-gradient(45deg, #557777 50%, transparent 50%),linear-gradient(90deg, #ee6655 100%, transparent 100%);
}
a{
    width: 200px;
    height: 100px;
    background-color: tomato;
}
.slide{
    position: relative;
}
.work,.about,.project{
    width: 80%;
    height: 80vh;
    background-color: white;
    position: absolute;
    position: relative;
    left: 50%;
    top:45%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: rgb(189, 187, 187) 2px 2px 10px;
}
.about{
    scroll-behavior: auto;
    overflow-y: auto; 
    overflow:scroll;
}
.button-group{
    width: 400px;
    height: 50px;
    position: absolute;
    left:50%;
    top:5%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}
a{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-decoration: none;
}
a:hover{
    background-color:rgb(252, 252, 252);
    color: black;
}

#section1 a:nth-child(1),#section2 a:nth-child(2),#section3 a:nth-child(3){
    width: 130px;
    height: 45px;
    line-height: 45px;
    background-color: white;
    color: black;
}
#section2 .about area{
    width: 80%;
    height:500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
#section2 .aboutme{
    width: 600px;
    height: fit-content;
    margin: 0 auto;
    font-size: 23px;
}
.accordion-button{
    background-color: #FFD441;
    border: 1px solid white;
    border-radius: 15px;
}
.accordion-button:hover{
    background-color:  #f3d05c;
}
#section2 .accordion-button{
    font-size: 30px;
}
#section2 .accordion-body{
    font-size: 23px;
}
/* #section2 .experience{
    width: 500px;
    height: 500px;
    background-color: rgb(37, 110, 153);
    margin: 0 auto;
   
} */
#section3 .project .project-inner{
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#section3 .project{
    display: flex;
    align-items: center;
    justify-content: center;
}
#section3 .project .project-inner div{
    width: 30%;
    height: 40%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#section3 .project div button{
    width: 200px;
    height: 50px;
    background-color: #f8cf16;
    color: white;
    font-size: 25px;
    font-weight: 800;
    border: none;
    border-radius: 15px;
}
#section3 .project div button:hover{
    background-color: #FFD441;
    color: white;
}
#section3 .project .project-inner div div{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}
#section3 .project .project-inner div div:hover{
    width: 130%;
    height: 130%;
    transition-duration: 3s;
}

#section3 .project .project-inner div:nth-child(1) div{
    background-image: url(./image/microsoft.GIF);
}
#section3 .project .project-inner div:nth-child(2) div{
    background-image: url(./image/天氣卡.GIF);
}
#section3 .project .project-inner div:nth-child(3) div{
    background-image: url(./image/sweets.GIF);
}
#section3 .project .project-inner div:nth-child(4) div{
    background-image: url(./image/steak.GIF);
}
#section3 .project .project-inner div:nth-child(5) div{
    background-image: url(./image/月亮卡.GIF);
}
#section3 .project .project-inner div:nth-child(6) div{
    background-image: url();
}
footer{
    width: 100%;
    height: 50px;
    background-color: rgb(68, 68, 68);
    color: white;
}
